<div class="container">
    <div class="page-header">
        <h1>Mongo Scraper <small>Find interesting articles, save them, and make notes!</small></h1>
    </div>
</div>

<div id="article_section">
    {{#each articles }}
    <div class="container panel panel-default" style="padding-top: 5px; padding-bottom: 5px">
        <div class="col-xs-10">{{this.title}}</div>
        <button class="col-xs-2 btn btn-default save_article" style="background-color: green; color: white" title="{{this.title}}" link="{{this.link}}">Save Article</button>
        <a class="col-xs-10">{{this.link}}</a>
    </div>
    {{/each}}
</div>